<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <style>
            @import url('https://fonts.googleapis.com/css?family={{ font_url }}');
            body{
                margin: 0px;
                height: 100%;
                width: 100%;
                font-family: '{{ font }}', sans-serif;
            }
            img {
                width: 655px;
                height: 655px;
            }
            h1 {
                width: 100%;
                font-size: 64px;
            }
            h2 {
                width: 100%;
                font-size: 56px;
            }
            
            p {
                width: 100%;
                font-size: 46px;
            }
            .text{
                word-wrap: normal;
                color: white;
                text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.50);
            }
            .infos {
                display: flex;
                flex-direction: row; 
                justify-content: space-around;
                height: 800px;
                padding-left: 20px;
                padding-right: 20px;





            }
            .cover {
                display: flex;
                align-items: center;
                padding: 50px;
            }
            .tags {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex-grow: 1; 
            }
            
        </style>
    </head>
    <body>
        <div class="infos">
            <div class="cover">
             <img src="{{{ imageURL }}}" />
            </div>
            <div class="tags">
                <h1 class="text">{{{ epTitle }}}</h1>
                <div>
                <h2 class="text">{{{ podTitle }}}</h2>
                <p class="text">{{{ podSub }}}</p>
                </div>
            </div>
        </div>
    </body>
</html>
