<!DOCTYPE html>
<html>
    <head>
        <style>
            @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
            img {
                position: absolute;
                left: 90px;
                top: 100px;
                width: 655px;
                height: 655px;
            }

            h1 {
                position: absolute;
                left: 785px;
                top: 200px;
                width: 1115px;
                font-size: 64px;
            }

            h2 {
                position:absolute;
                left: 785px;
                top: 480px;
                width: 1115px;
                font-size: 64px;
            }
            
            p {
                position:absolute;
                left: 785px;
                top: 555px;
                width: 1115px;
                font-size: 48px;
            }

            .text{
                word-wrap: normal;
                color: white;
                text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.50);
            }

            div {
                height: 1080px;
                width: 1920px;
                font-family: 'Montserrat', sans-serif;
            }
        </style>
    </head>
    <body>
        <div id="targetDiv">
            <img src="{{ imageURL }}" />
            <h1 class="text">{{ epTitle }}</h1>
            <h2 class="text">{{ podTitle }}</h2>
            <p class="text">{{ podSub }}</p>
        </div>
    </body>
</html>