<!doctype html>
<html lang="fr">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>YouPod</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/floating-labels/">

        <!--Favicon -->
        <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/static/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
        <link rel="manifest" href="/static/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/static/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="./static/index.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    

    <style>
        .activity {
       display: flex;
       flex-direction: row; 
       justify-content: center;
       align-items: center;
       margin-bottom: 1rem;
        }

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .info {
    margin-bottom: 12px;
    }
    .footer {
      font-size: 80%;
    }

    .switch{
      margin-left: 19%;
    }
     .font-test{
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1) inset;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
   }

   .apply-font{
     padding: 0.5rem;
     margin-block-end: 0;
   }
    
    </style>
    <!-- Custom styles for this template -->
    <link href="/static/floating-labels.css" rel="stylesheet">
  <body>
    <form class="form-signin" action="/addvideocustom" method="POST">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">

  <div class="text-center mb-4">
    <img class="mb-4" src="/static/logo.png" alt="YouPod" width="300" height="69">
  </div>
    <div class="activity lead">
      {{ waiting_list }} traitement(s) avant vous
    </div>  
  <div class="info">
    <small>Une fois la vidéo générée, vous receverez un email contenant le lien pour la télécharger. Vous aurez alors <strong>{{ keeping_time }}H</strong> pour la télécharger.</small>
  </div>

<div class="switch">
<p>
  <a href="/"><button class="btn btn-large" type="button">Avec un RSS</button> </a>
  <button class="btn btn-large btn-primary" type="button">Avec un MP3</button>
</p>
</div>

 
   <div class="form-label-group">
    <input type="text" id="imgURL" name="imgURL" class="form-control" placeholder="URL de votre image" required autofocus>
    <label for="imgURL">URL de votre image</label>
  </div>

   <div class="form-label-group">
    <input type="text" id="epTitle" name="epTitle" class="form-control" placeholder="Titre de votre épisode" required autofocus>
    <label for="epTitle">Titre de votre épisode</label>
  </div>

   <div class="form-label-group">
    <input type="text" id="podTitle" name="podTitle" class="form-control" placeholder="Titre de votre émission" required autofocus>
    <label for="podTitle">Titre de votre émission</label>
  </div>

    <div class="form-label-group">
    <input type="text" id="podSub" name="podSub" class="form-control" placeholder="Slogan de votre émission" required autofocus>
    <label for="podSub">Slogan de votre émission</label>
  </div>

 <div class="form-label-group">
    <input type="url" id="audioURL" name="audioURL" class="form-control" placeholder="URL de votre audio" required autofocus>
    <label for="audioURL">URL de votre audio</label>
  </div>
  
  <input type="hidden" name="font-choice"  id="font-choice" value="Montserrat">
<div class="font-test">

<div id="font-picker"></div>
  <p class="apply-font">
  Portez ce vieux whisky au juge blond qui fume sur son île intérieure, à côté de l'alcôve ovoïde, où les bûches se consument dans l'âtre, ce qui lui permet de penser à la cænogénèse de l'être dont il est question dans la cause ambiguë entendue à Moÿ, dans un capharnaüm qui, pense-t-il, diminue çà et là la qualité de son œuvre.</p>
</div>

   <div class="form-label-group">
    <input type="email" id="email" name="email" class="form-control" placeholder="Votre adresse mail" required autofocus>
    <label for="email">Votre adresse mail</label>
  </div>

      <div class="form-check" style="margin-bottom: 1rem;">
        <input type="checkbox" class="form-check-input" id="checkTemplate" onchange="changeClick()">
        <label class="form-check-label" for="checkTemplate">Modifier le template</label>
      </div>

      <div class="form-group" id="templateDiv" style="display: none;">
        <label for="template">Votre template</label>
        <textarea class="form-control" id="template" name="template" rows="5"></textarea>
        <small id="templateHelp" class="form-text text-muted">Collez ici votre template Mustache pour créer l'image. Les balises qui seront remplacés sont <b>imageURL</b> (lien vers image de l'épisode), <b>epTitle</b> (titre de l'épisode), <b>podTitle</b> (titre du podcast) et <b>podSub</b> (le sous titre du podcast)</small>
      </div>


  <button class="btn btn-lg btn-primary btn-block" type="submit">Lancer la conversion</button>
  <div class="footer mt-5 mb-3 text-muted text-center ">
    <p>Cet outil utilise le tutoriel venant d'Alliés Numériques</p>
    <p>Pour votre information, votre adresse email est conservée dans la base de donnée le temps de la génération, puis est automatiquement supprimée une fois le mail envoyé. Votre flux RSS lui reste dans la base de donnée.</p>
    <p>Youpod est un projet OpenSource développé par <a href="https://twitter.com/Bigaston">Bigaston</a>. Vous pouvez le retrouver sur <a href="https://github.com/Bigaston/youpod">Github</a> et me soutenir sur <a href="https://patreon.com/Bigaston">Patreon</a></p>
    </div>
</form>
<script src="./static/FontPicker.js"></script>

<script>
  var font_choice = document.getElementById("font-choice");
  var fontPicker = new FontPicker(
    "AIzaSyC3pZS6l_aZ4iU3c71t65dE6Cz1-THx0Fk", // Google API key
    font_choice.value, // Default font
    { limit: 100 }, // Additional options
  );
  fontPicker.setOnChange(function (font) {font_choice.value = font.family; });
</script>

  <script src="/static/index.js"></script>
</body>
</html>
