<h1>Votre vidéo est générée sur YouPod!</h1>
<p>Bonjour, votre vidéo est maintenant générée et prête à être téléchargée</p>
<p>Pour rappel, elle à été faite pour l'épisode nommé <b>{{{ ep_title }}}</b></p>
<p>Vous avez maintenant <strong>{{ keeping_time}}H</strong> pour la télécharger en cliquant sur le lient si dessous<p>
<br>
<br>
<p>Télécharger la vidéo : <a href="{{{ video_link }}}">{{{ video_link}}}</a></p>
<p>En vous souhaitant une bonne journée!</p>