<style>
    h1 {
        text-align: center;
    }
</style>

<h1>Votre vidéo est générée sur YouPod!</h1>
<p>Bonjour, votre vidéo est maintenant générée et prête à être téléchargée</p>
<p>Pour rappele, elle à été faite pour le flux RSS <a href="{{{ rss_link }}}">{{{ rss_link }}}</a></p>
<p>Vous avez maintenant <strong>{{ keeping_time}}H</strong> pour la télécharger en cliquant sur le lient si dessous<p>
<br>
<br>
<p>Télécharger la vidéo : <a href="{{{ video_link }}}">{{{ video_link}}}</a></p>
<p>En vous souhaitant une bonne journée!</p>